body {
  background-color: #212529;
}

h1 {
    font-size: 8rem;
  }

.whitespace {
  white-space: nowrap;
}
 
.bg-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../images/kenjitsu.jpg');
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.navbar {
  height: 10vh;
}

.custom-border-end {
  border-right: 1px solid #fff;
}

.custom-border-start {
  border-left: 1px solid #fff;
}

.fw-bolder {
  font-size: 20px;
}

@media only screen and (max-width: 992px) {
    h1 {
      font-size: 5rem;
    }
}

@media only screen and (max-width: 768px) {

  .custom-border-end, .custom-border-start {
    border: none;
  }
}

@media only screen and (max-width: 545px) {
  h1 {
    font-size: 3.5rem;
  }
}


@media only screen and (max-width: 350px) {
  h1 {
    font-size: 2.5rem;
  }
}
